# API Base URL
VITE_API_BASE_URL=https://dummyjson.com
# or you can use hppt1.1 proxy, if https://dummyjson.com is not responses
# to run proxy use scrint "npm run start:proxy"
# VITE_API_BASE_URL=http://localhost:3001/api

# access token lifetime in minutes
VITE_ACCESS_TOKEN_LIFETIME=60
# refresh token lifetime in days
VITE_REFRESH_TOKEN_LIFETIME=7