# API Base URL
VITE_API_BASE_URL=https://dummyjson.com
# or you can use hppt1.1 proxy, if https://dummyjson.com is not responses
# to run proxy use scrint "npm run start:proxy"
# VITE_API_BASE_URL=http://localhost:3001/api